---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<h2>Deep Learning CNN-based visual Quality Control Application</h2><br/>
<button 
onclick="window.open('https://github.com/your-username/project-1', '_blank')"
>GitHub</button><br/><img src='/images/project-1.png'>

<br/>
<br/>
<h2>Recommendation System for Netflix Prize Data</h2><br/>
<button 
onclick="window.open('https://github.com/subba2048/CSCI-6390-Recommender-System', '_blank')"
>GitHub</button><br/><img src='/images/project-2.png'>

<br/>
<br/>
<h2>Web Search Engine with information retrieval and query recommendation</h2><br/>
<button 
onclick="window.open('https://github.com/subba2048/web-search-engine', '_blank')"
>GitHub</button><br/><img src='/images/project-3.png'>

<!-- 
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

